.titleContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.subtitle {
  font-style: italic;
}

article {
  border-left: 2px solid var(--border);
  padding: 5px 0 0 20px;
}

.expContainer {
  margin-bottom: 15px;
}

.expInfo {
  list-style-type: disc;
  padding-left: 15px;
  margin: 5px 0 0 0;
}

.link {
  font-size: 20px;
  font-weight: 600;
}

.icon {
  width: 30px;
  border-radius: 50%;
}
