.titleContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.articleContainer {
  border-left: none;
}
.subtitle {
  font-style: italic;
}

.expContainer {
  margin-bottom: 15px;
}

.expInfo {
  list-style-type: disc;
  padding-left: 15px;
  margin: 5px 0 0 0;
}

.link {
  font-size: 20px;
  font-weight: 600;
}

.icon {
  width: 30px;
  border-radius: 50%;
}

@media (min-width: 600px) {
  .articleContainer {
    border-left: 2px solid var(--border);
    padding: 5px 0 0 20px;
  }
  .titleContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
