.content-container {
  display: grid;
  grid-template-columns: 30% auto;
  margin: 15px 0 0 0;
}

.divider {
  border: 2px solid var(--accent-border);
}

@media (max-width: 600px) {
  .content-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .divider {
    border: 1px solid var(--accent-border);
  }
}

@media print {
  .content-container {
    display: block;
  }

  .content-container > aside {
    float: left;
    width: 30%;
  }

  .content-container > article {
    margin-left: 30%;
  }

  .content-container::after {
    display: block;
    clear: both;
    content: "";
  }
}
